body {
    background-color: rgb(10, 29, 38);
    display: flex;
    flex-direction: column;
    margin: 0px;
}
@font-face {
    font-family: "archivo-semi-medium";
    src: url(./fonts/Archivo_SemiExpanded-Medium.ttf);
}
@font-face {
    font-family: "archivo-semi-regular";
    src: url(./fonts/Archivo_SemiExpanded-Regular.ttf);
}
@font-face {
    font-family: "archivo-semi-bold";
    src: url(./fonts/Archivo_SemiExpanded-Bold.ttf);
} 
/* HEADER */
header {
    width: 100%;
    position:fixed;
    display: flex;
    justify-content: center;
}
.header-container {
    width: 80%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(25,23,22,0.4864320728291317) 47%, rgba(255,255,255,0) 100%);
    border-bottom: 1px solid rgb(25, 157, 209);
    font-family: "archivo-semi-regular";
    font-size: 0.9rem;
}
.item-nav, .a-nav{
    color: rgb(25, 157, 209);
    text-decoration: none;
    font-size: 1em;
}
.item-nav {
    margin: 0% 1%;
    transition-duration: 0.3s;
}
.a-nav:hover {
    color: rgb(213, 46, 106);
    cursor: pointer;
}
/* MAIN */
.form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(243, 239, 233);
}
.recuadro-content {
    width: 50vw;
    height: 60vh;
    background: linear-gradient(0deg, rgba(18,24,27,0.6895133053221288) 0%, rgba(42,56,63,0.9108018207282913) 100%);
    border-radius: 1.5rem;
    display: flex;
    -webkit-box-shadow: 6px 11px 14px -9px rgba(0,0,0,0.47); 
    box-shadow: 6px 11px 14px -9px rgba(0,0,0,0.47);
}
.formulario {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
h4 {
    font-family: "archivo-semi-medium";
    margin: 1%;
}
.container-input {
    margin: 2% 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.label-form {
    font-family: "archivo-semi-regular";
    font-size: 0.8rem;
    margin: 1%;
    width: 70%;
}
input, textarea {
    width: 70%;
    border: none;
    font-family: "archivo-semi-regular";
}
input {
    height: 1.7rem;
    border-radius: 1rem;
    padding: 0% 2%;
}
.input-active:focus {
    outline: 2px solid rgb(25, 157, 209);
}
textarea {
    height: 3rem;
    border-radius: 1rem;
    padding: 2%;
    z-index: 1;
}
.submit {
    font-family: "archivo-semi-bold";
    width: 74%;
    height: 2rem;
    margin-top: 6%;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 0.8rem;
    z-index: 1;
    background-color: rgb(213, 46, 106);
    color: rgb(243, 239, 233);
}
#submit:hover {
    background-color: rgb(25, 157, 209);
    transition-duration: 0.3s;
}
.imagen-scarym {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#scarymovie {
    height: 98%;
    object-fit: cover;
    border-radius: 1.5rem;
}