body {
    background-color: rgb(10, 29, 38);
    display: flex;
    flex-direction: column;
    margin: 0px;
}
@font-face {
    font-family: "archivo-semi-medium";
    src: url(./fonts/Archivo_SemiExpanded-Medium.ttf);
}
@font-face {
    font-family: "archivo-semi-regular";
    src: url(./fonts/Archivo_SemiExpanded-Regular.ttf);
}
@font-face {
    font-family: "archivo-semi-bold";
    src: url(./fonts/Archivo_SemiExpanded-Bold.ttf);
} 
/* HEADER */
header {
    width: 100%;
    position:fixed;
    display: flex;
    justify-content: center;
}
.header-container {
    width: 80%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(25,23,22,0.4864320728291317) 47%, rgba(255,255,255,0) 100%);
    border-bottom: 1px solid rgb(25, 157, 209);
    font-family: "archivo-semi-regular";
    font-size: 0.9rem;
}
.item-nav, .a-nav{
    color: rgb(25, 157, 209);
    text-decoration: none;
    font-size: 1em;
}
.item-nav {
    margin: 0% 1%;
    transition-duration: 0.3s;
}
.a-nav:hover {
    color: rgb(213, 46, 106);
    cursor: pointer;
}
/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(243, 239, 233);
}
.section1-conteiner {
    height: 85vh;
    background-image: url(./img/gradient.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1, .section2 {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 {
    height: 53%;
    background-color: rgba(25, 157, 209, 0.171);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 0.5rem;
}
.conteiner-contenido {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p {
    font-family: "archivo-semi-regular";
}
h1, h2, h3 {
    font-family: "archivo-semi-medium";
}
h1 {
    font-size: 3rem;
}
.buttons {
    display: flex;
    flex-direction: row;
    margin: 4%;
}
.learn, .call {
    border-radius: 1rem;
    height: 2rem;
    margin: 2%;
    font-family: "archivo-semi-bold";
    font-size: 0.7rem;
    padding: 0% 5%;
    border: none;
    background-color: rgb(25, 157, 209);
    color: rgb(243, 239, 233);
}
.learn:hover, .call:hover {
    background-color: rgb(213, 46, 106);
    color: rgb(243, 239, 233);
    transition-duration: 0.3s;
    cursor: pointer;
}
.img-section1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#edificio {
    width: 80%;
    height: 80%;
    margin: 5%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.section2 {
    width: 80vw;
    height: 25vh;
    text-align: center;
}
.section3-conteiner {
    width: 100%;
    height: 65vh;
    background-image: url(./img/flip-gradient.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opacidad-section3 {
    height: 100%;
    width: 100vw;
    background-color: rgba(10, 29, 38, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3, .section4 {
    width: 80vw;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefits-container, .how-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.benefit, .how {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.benefit {
    margin: 2rem 2rem;
}
.fas {
    font-size: 3rem;
}
.fas-how {
    color: rgb(213, 46, 106);
}
.how {
    margin: 2rem 1.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h2, h3, .p-benefit, .p-how {
    margin: 1rem;
    text-align: center;
}
/* MEDIAS MOBILE */
@media (max-width: 480px) {
    header {
        height: 5vh;
    }
    .section1 {
        height: auto;
        width: 85%;
        margin: 4rem 0rem;
    }
    .section1-conteiner {
        padding: 13% 0%;
    }
    .conteiner-contenido {
        width: 100%;
    }
    h1 {
        margin: 1rem 0rem;
    }
    .buttons, .call, .learn {
        margin: 4% 0%;
    }
    .img-section1 {
        width: 90%;
    }
    #edificio {
        width: 100%;
        height: 100%;
    }
    .section2 {
        height: 35vh;
        margin: 2rem 0rem;
    }
    .section3, .section3-conteiner {
        height: auto;
        width: auto;
    }
    .benefits-container, .how-container, .section1, .buttons {
        flex-direction: column;
    }
}
/* MEDIAS TABLET */
@media (min-width: 481px) and (max-width: 1024px) {
    header {
        height: 5vh;
    }
    .section1 {
        flex-direction: column;
        margin: 4rem 0rem;
    }
    .conteiner-contenido, .img-section1 {
        width: 80%;
    }
    .contenido {
        width: auto;
    }
    h1 {
        margin: 1rem 0rem;
    }
    .call, .learn {
        width: 50%;
    }
    #edificio {
        width: 100%;
        height: 100%;
    }
    .section1-conteiner {
        padding: 10% 0%;
    }
    .section2 {
        margin: 2rem 0rem;
    }
    .section3-conteiner, .section1, .section1-conteiner {
        height: auto;
    }
    .section3, .section4 {
        margin: 3rem 0rem;
    }
    .benefits-container, .how-container {
        flex-wrap: wrap;
    }
    .benefit {
        margin: 2rem 1rem;
        width: 35%;
    }
    .how {
        margin: 2rem 1rem;
        width: 40%;
    }
}
/* MEDIA DESKTOP */
@media (min-width: 1514px) {
    .section1, .section2, .section3, .section4 {
        width: 50%;
    }
}