@font-face {
    font-family: "noto-light";
    src: url(./assets/fonts/NotoSerifDisplay-Light.ttf);
}
@font-face {
    font-family: "noto-italic";
    src: url(./assets/fonts/NotoSerifDisplay-Italic.ttf);
}
body {
    background-color: rgb(241, 241, 241);
}
.container-one {
    height: 100vh;
    font-family: "noto-light";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: "noto-italic";
    font-weight: normal;
    font-size: 2.5rem;
}
.peque-text {
    font-size: 1.5rem;
}
h2 {
    font-weight: normal;
    font-size: 1.3rem;
}
a, label {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0);
    font-weight: normal;
}
label {
    font-size: 1.3rem;
}
li {
    list-style: none;
}
.container-nav {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-list, .container-section {
    display: none;
    padding: 0rem;
    position: absolute;
}
.container-section {
    top: 17vh;
    left: 12vw;
    width: 15%;
    color: rgba(0, 0, 0, 0.658);
    align-items: flex-start;
}
.profile-img {
    width: 100%;
}
.profile-list {
    padding: 0rem;
}
.peque-mail {
    font-size: 0.9rem;
}
.container-section p {
    text-align: center;
}
.container-list {
    top: 24vh;
    right: 15vw;
}
.container-list a {
    color: rgba(0, 0, 0, 0.658);
    transition-duration: 0.3s;
}
.container-list a:hover {
    color: rgb(0, 0, 0);
}
.change, .change-profile {
    display: none;
}
.change-profile:checked ~ section {
    display: flex;
    flex-direction: column;
}
.change:checked ~ ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
/* MEDIAS MOBILE TABLET */
@media (max-width: 1024px) {
    .container-nav {
        flex-direction: column;
        width: 40%;
    }
    .container-section {
        top: 61vh;
        left: auto;
        width: 55%;
    }
    .container-list {
        top: 59vh;
        right: auto;
    }
}