@font-face {
    font-family: "roboto";
    src: url(./assets/Fonts/Roboto-Light.ttf);
} 
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
}
.pop-up {
    height: 363px;
    width: 399px;
    margin: 2%;
    padding: 1.5%;
    border-radius: 18px;
    background-color: #ffffff;
    font-family: "roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 21px 26px -13px rgba(255,255,255,1);
    -moz-box-shadow: 0px 21px 26px -13px rgba(255,255,255,1);
    box-shadow: 0px 21px 26px -13px rgba(255,255,255,1);
}
.cruz {
    align-self: flex-end;
    transition-duration: 0.3s;
}
.cruz:after{
    content: "\00d7";
    padding-right: 5%;
    margin: 1%;
    opacity: 0.1;
    font-size: 36px;
}
p {
    text-align: center;
    font-size: 1.1rem;
}
.cookies p {
    width: 80%;
    margin: 5% 0%;
}
.alert p {
    width: 50%;
    margin: 10% 0%;
}
.btn-cookies, .btn-alert {
    height: 12%;
    width: 50%;
    padding: 2%;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    transition-duration: 0.3s;
}
.btn-cookies {
    background-color: #ED6755;
    box-shadow: 1px 8px 28px -8px rgba(237,103,85,0.75);
    -webkit-box-shadow: 1px 8px 28px -8px rgba(237,103,85,0.75);
    -moz-box-shadow: 1px 8px 28px -8px rgba(237,103,85,0.75);
}
.btn-alert {
    background-color: #2C3E50;
    box-shadow: 1px 8px 28px -8px rgba(44,62,80,0.75);
    -webkit-box-shadow: 1px 8px 28px -8px rgba(44,62,80,0.75);
    -moz-box-shadow: 1px 8px 28px -8px rgba(44,62,80,0.75);
}
.btn-cookies:hover {
    background-color: #d35b4b;
}
.btn-alert:hover {
    background-color: #1b2530;
}