body {
    background: rgb(240, 221, 183);
    margin: 1.5rem 2.5rem;
}
@font-face {
    font-family: "roboto-regular";
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "roboto-medium";
    src: url(./fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "roboto-light";
    src: url(./fonts/Roboto-Light.ttf);
}
/* HEADER  */
.logo {
    height: 5vh;
}
#change {
    display: none;
}
li {
    list-style: none;
}
.lista-header {
    display: flex;
    justify-content: center;
}
.lista-header a {
    text-decoration: none;
    display: inline-block;
    margin: 0rem 2rem;
    color: rgb(17, 17, 17);
    font-family: "roboto-light";
    font-size: 1.3rem;
}
.encabezado-conteiner {
    height: 100vh;
}
.encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(17, 17, 17);
    padding: 0.7rem 0rem;
    height: 8vh;
}
.welcome-conteiner {
    height: 94%;
    border: 1px solid rgb(17, 17, 17);
    border-top: none;
    display: flex;
    justify-content: center;
}
.welcome-organizer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 100%;
}
.container-baco {
    height: 60%;
}
.dibujo-baco {
    height: 100%;
}
.welcome {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.primera-frase h1, .primera-frase h2 {
    margin: 0px;
    text-decoration: none;
    font-family: "roboto-light";
    font-weight: 100;
}
.primera-frase h2 {
    font-size: 2.7rem;
}
.primera-frase h1 {
    font-size: 3.5rem;
}
.segunda-frase {
    font-family: "roboto-light";
    font-weight: 100;
}
.btn-gotchu {
    font-family: "roboto-regular";
    text-transform: uppercase;
    font-size: 1rem;
    height: 6vh;
    width: 35%;
    border: 1px solid rgb(17, 17, 17);
    background-color: transparent;
    color: rgb(17, 17, 17);
}
.btn-gotchu:hover {
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: rgb(17, 17, 17);
    color: rgba(228,210,190,1);
}
/* MAIN  */
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(17, 17, 17);
    border-top: none;
}
.title-section1 {
    margin: 0px;
    text-decoration: none;
    font-family: "roboto-light";
    font-weight: 100;
    font-size: 2rem;
    border: 1px solid rgb(17, 17, 17);
    background: rgb(240, 221, 183);
    padding: 1.3rem 2.5rem;
}
.section1-icons {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem 0rem;
}
.icon1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22vw;
    margin: 0rem 1.5rem;
}
.section1 p, .section1-icons p {
    text-align: center;
    font-family: "roboto-light";
    font-weight: 100;
    font-size: 1.3rem;
}
/* MEDIAS MOBILE */
@media (max-width: 614px) {
    .title-section1 {
        width: 56%;
        padding: 1rem;
        font-size: 1.4rem;
        text-align: center;
    }
    .section1-icons {
        flex-direction: column;
        align-items: center;
        margin: 1rem 0rem;
    }
    .icon1 {
        width: 70%;
        margin: 1rem 0rem;
    }
}
/* MEDIAS MOVILE TABLET */
@media (max-width: 836px) {
    body {
        margin: 1rem 1.5rem;
    }
    .lista-header {
        display: none;
        padding: 0px;
        margin: 0px;
    }
    .change:checked ~ .lista-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .encabezado {
        height: 6vh;
        justify-content: flex-start;
    }
    .logo {
        height: 4vh;
        margin-left: 1rem;
        cursor: pointer;
    }
    .welcome-conteiner {
        height: 96%;
    }
    .welcome-organizer {
        width: 85%;
        justify-content: flex-start;
        flex-direction: column;
    }
    .welcome {
        position: absolute;
        top: 17rem;
    }
    .btn-gotchu {
        width: 35%;
    }
    .container-baco {
        align-self: flex-end;
    }
    .dibujo-baco {
        height: 48%;
        margin-top: 1rem;
        margin-left: 0rem;
        align-self: flex-end;
    }
}
@media (min-width: 325px) and (max-width: 836px) {
    .encabezado-conteiner {
        height: 110vh;
    }
    .container-baco {
        height: 70%;
    }
    .welcome {
        top: 45%;
    }
}
@media (min-width: 837px) and (max-width: 1370px) {
    .primera-frase {
        margin-top: 1rem;
    }
    .btn-gotchu {
        width: 100%;
        margin-bottom: 4rem;
    }
}
/* MEDIA DESKTOP */
@media (min-width: 1514px) {
    .welcome-organizer, .section1-icons {
        width: 50%;
    }
}