main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table, th, td{
    border: 2px solid gainsboro;
    border-collapse: collapse;
    text-align: center;
    width: min-content;
    height: max-content;
    margin-left:auto; 
    margin-right:auto;
}
th, td {
    padding: 7px;
    margin: 7px;
}
.mini {
    width: 25%;
}
.mini2 {
    width: 20px;
    height: 20px;
}