main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-table {
    overflow: scroll;
}
table, th, td{
    border: 2px solid gainsboro;
    border-collapse: collapse;
    text-align: center;
    width: min-content;
    height: max-content;
}
th, td {
    padding: 7px;
    margin: 7px;
}
table {
    margin: 0rem 2rem;
}
.mini {
    width: 25%;
}
.mini2 {
    width: 20px;
    height: 20px;
}
@media (max-width: 651px) {
    main {
        width: 100vw;
    }
    .container-table {
        width: 100%;
    }
}